html, body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body {
    height: 100%;
    background-color: #E9EBEE;
}

.buttons-right {
    margin-top: 20px;
    text-align: right;
}
.jur-panel .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #F7F7F9;
    background-image: none;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.table > tbody > tr > td {
    border-top: none;
}
.table > thead > tr > th {
    border-bottom: none;
}
.pr10 {
    padding-right: 10px;
}
.pr5 {
    padding-right: 5px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 15px 10px;
}

.navbar-brand > img {
    display: block;
    width: 60px;
}
.office-in-logo {
    color: #e8e9ed;
    padding: 11px 0 0 5px;
    display: flex;
    font-size: 12px;
    align-items: center;
}
h1, .h1 {
    font-weight: 100;
    font-size: 24px;
}
.panel {
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.toggle-active {
    color: #377BB5;
}
.cp {
    cursor: pointer;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.btn-success {
    color: #fff;
    background-color: #029c7a;
    border-color: #029c79;
}
.btn-success:hover {
    color: #fff;
    background-color: #02af78;
    border-color: #02af78;
}
.btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #00734f;
    border-color: #00714e;
}
.btn-success:focus, .btn-success.focus {
    color: #fff;
    background-color: #00734f;
    border-color: #00714e;
}
.btn-success:active:hover, .btn-success.active:hover, .open > .dropdown-toggle.btn-success:hover, .btn-success:active:focus, .btn-success.active:focus, .open > .dropdown-toggle.btn-success:focus, .btn-success:active.focus, .btn-success.active.focus, .open > .dropdown-toggle.btn-success.focus {
    color: #fff;
    background-color: #00734f;
    border-color: #00714e;
}
.h2 {
    font-size: 20px;
    font-weight: 100;
}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    z-index: 2;
    margin-left: -1px;
    background-color: #f7f7f9;
    border: none;
    border-radius: 4px;
    height: 34px;
    margin-top: 25px;
    border: 1px solid #bae9ff;
}

.select2-container--krajee .select2-selection {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: #f7f7f9;
    border: none;
    border-radius: 4px;
    color: #555555;
    font-size: 14px;
    outline: 0;
}
.select2-container--krajee .select2-dropdown {
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    border-color: #66afe9;
    border: none;
    background-color: #f7f7f9;
    overflow-x: hidden;
    margin-top: -1px;
}
.select2-container--krajee .select2-results__option[aria-selected] {
    background-color: #f7f7f9;
    color: #333;
    border-radius: 0;
}
.select2-container--krajee .select2-results__option[aria-selected]:hover {
    background-color: #e8e8e8;
    color: #333;
    border-radius: 0;
}
.select2-container--krajee .select2-results__option[aria-selected=true] {
    color: #31708f;
    background-color: #d9edf7;
}
.select2-container--krajee .select2-selection--multiple .select2-selection__choice__remove {
    float: right;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-shadow: none;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    margin: 2px 0 0 3px;
    opacity: 1;
}
.select2-container--krajee .select2-selection--multiple .select2-selection__choice {
    color: #ffffff;
    background: #ff9900;
    border: 1px solid #ff9900;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin: 5px 0 0 6px;
    padding: 0 6px;
}
.select2-container--krajee .select2-selection--single .select2-selection__placeholder {
    color: #555;
}
.select2-container--krajee .select2-selection--single .select2-selection__placeholder {
    color: #b9b9b9;
}
.blue {
    color: #00709e;
}
.team-link {
    text-decoration: underline;
    cursor: pointer;
}
.cp {
    cursor: pointer;
}