/* COMMON */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html, body {
    width: 100%;
    font-size: 16px;
    font-family: Open Sans, sans-serif;
}

ul, ol {
    list-style: none;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    color: #2a3b77;
    text-decoration: none;
    -webkit-transition: color .2s;
    transition: color .2s;
}

a:hover {
    color: #374e9d;
    -webkit-transition: color .2s;
    transition: color .2s;
    text-decoration: none;
}

/* COMMON  END */

/* GRID */
.wrapper {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.clear {
    clear: both;
}

.block-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 40px 0;
    width: 100%;
    height: 100%;
}

.block-item-1 {
    width: 100%;
    height: 100%;
}

.block-item-2 {
    width: 50%;
    height: 100%;
}

.block-item-3 {
    width: 33.333333%;
    height: 100%;
}

.block-item-4 {
    width: 25%;
    height: 100%;
}

.block-item-5 {
    width: 20%;
    height: 100%;
}

.block-item-6 {
    width: 16.66666667%;
    height: 100%;
}

.block-item-7 {
    width: 14.28571429%;
    height: 100%;
}

.block-item-8 {
    width: 12.5%;
    height: 100%;
}

.block-item-9 {
    width: 11.11111111%;
    height: 100%;
}

.block-item-10 {
    width: 10%;
    height: 100%;
}

.button {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #bfc1c5;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 2rem;
    font: .9rem/1.5 Open Sans, sans-serif;
    vertical-align: top;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: .25rem .75rem;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
}

.button:hover {
    background-color: #fffffa;
    border-color: #333;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1440px;
    }
}

/* GRID END */

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
}

footer {
    flex: 0 0 auto;
}

header {
    background: #1d2851;
    height: 5rem;
}

#header {
    background: #1d2851;
    z-index: 1;
}

.logo img {
    width: 9rem;
    margin: 10px 0 0 1rem;
}

.nav-link {
    padding-top: 48px;
    color: #e8e9ed;
    text-transform: uppercase;
    transition: linear .2s;
    font: 400 .9rem/1 Open Sans, sans-serif;
    letter-spacing: 1px;
    white-space: nowrap;
}

.nav-link:hover {
    background-color: #161f3e;
    color: #fff;
}

.nav-link-active {
    background-color: #161f3e;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.frontpage-cover__holder {
    width: 100%;
    height: 80vh;
    min-height: 30rem;
    border-bottom: .25rem solid #cc1414;
    position: relative;
    display: block;
}

.frontpage-cover {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    position: relative;
    overflow: hidden;
}

.frontpage-cover__sails {
    height: 100%;
}

.frontpage-cover__block {
    position: absolute;
    top: 0;
    right: 0;
    width: 48rem;
    height: 100%;
    text-align: center;
}

.frontpage-cover__text {
    position: absolute;
    text-align: left;
    bottom: 1rem;
    left: 12rem;
    z-index: 0;
    color: rgba(255, 255, 250, .95);
}

.frontpage-cover__nsl {
    font-size: 3.25rem;
    font-family: Serif, serif;
    font-weight: 700;
    padding: .5rem .5rem 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
}

.frontpage-cover__desc {
    font-size: 1.2rem;
    font-family: Serif, serif;
    padding: .5rem .5rem 0;
    max-width: 26rem;
}

.frontpage-cover__text .button {
    margin: .5rem 0 0 .5rem;
    color: rgba(255, 255, 250, .95);
}

.frontpage-cover__holder:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1rem;
    left: calc(50% - 2rem);
    width: 0;
    height: 0;
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    border-top: 1rem solid #cc1414;
}

.frontpage-cover__text .button:hover {
    color: #090c19;
}

.page-wrapper .articles {
    padding: 3rem 2rem 1rem;
}

.page-title {
    color: #1d2851;
    font: 1.5rem/1 Open Sans, sans-serif;
    text-transform: uppercase;
    margin: -1rem 0 2rem;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #1d2851;
    padding: 0 0 1.5rem;
}

.page-title a {
    display: inline-block;
    text-decoration: none;
    color: #1d2851;
    position: relative;
}

.page-title a:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: -20px;
    margin-top: -1px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
}

.page-title a:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -20px;
    margin-top: -1px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
}

.news-item {
    width: 100%;
    display: block;
    margin: 0 0 1.5rem;
    background-color: #fffffa;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .25);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .25);
    -webkit-transition: -webkit-box-shadow .1s ease-out;
    transition: box-shadow .1s ease-out;
    transition: box-shadow .1s ease-out, -webkit-box-shadow .1s ease-out;
}

.news-item:hover {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .12), 0 1px 4px rgba(0, 0, 0, .25);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .12), 0 1px 4px rgba(0, 0, 0, .25);
    -webkit-transition: -webkit-box-shadow .1s ease-in;
    transition: box-shadow .1s ease-in;
    transition: box-shadow .1s ease-in, -webkit-box-shadow .1s ease-in;
}

.news-item a {
    display: block;
    position: relative;
    padding: 1rem;
}

.date-wrapper .date {
    padding: .2rem .4rem;
}

.date {
    font: .8rem/1 Open Sans, sans-serif;
    color: #e8e9ed;
    background-color: #1d2851;
    border-radius: 2px;
    padding: .75rem 1rem;
}

.date-wrapper {
    position: absolute;
    bottom: 2.25rem;
    left: 1rem;
}

.news-item .title-wrapper {
    width: 90%;
    position: absolute;
    top: 1rem;
    left: 0;
    padding: 1rem;
}

.news-item .title {
    color: #090c19;
    font: 600 italic 1.24rem/1.4 Open Sans, sans-serif;
    background-color: rgba(255, 255, 250, .7);
}

.article-card__cover {
    width: 75%;
    margin-left: 25%;
    height: 20rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.frontpage .overall {
    margin: 1rem 0 3rem;
}

.overall .page-description {
    max-width: 80rem;
    margin: 0 auto 2rem;
}

.overall__table {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    max-height: 24rem;
    max-width: 80rem;
    margin: 0 auto;
}

.overall__table2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-start;
    height: 100%;
    max-width: 80rem;
    margin: 0 auto;
}

.overall__group {
    width: 50%;
    min-width: 20rem;
    border-right: 1px solid rgba(38, 38, 38, .3);
    padding: 0 0 1rem;
}

.overall__group-title {
    width: 100%;
    font: 2rem/1 Open Sans, sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    padding: 0 0 2rem;
}

.overall__teams {
    padding: 0 1rem;
}

.overall-stage {
    padding: 0 1rem 0 0;
    display: contents;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    min-height: 4rem;
    position: relative;
    overflow: hidden;
    color: rgba(38, 38, 38, .8);

}

.overall-team {
    padding: 0 1rem 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    min-height: 4rem;
    position: relative;
    overflow: hidden;
    color: rgba(38, 38, 38, .8);
}

.overall-team__standing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 4rem;
    height: 4rem;
    font: 700 3rem/1 Open Sans, sans-serif;
    padding: .25rem;
    color: rgba(38, 38, 38, .5);
}

.overall-team__logo {
    min-width: 4rem;
    height: 4rem;
    margin: 0;
}

.overall-team__name {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    height: 100%;
    min-height: 4rem;
    position: relative;
    padding: .25rem 1rem;
}

.overall-team__name, .overall-team__score {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.overall-team__name a {
    font: 700 1.2rem/1.2 Open Sans, sans-serif;
    color: rgba(38, 38, 38, .8);
}

.overall-team__score {
    min-width: 4rem;
    height: 4rem;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: .25rem;
    font: 700 1rem/1.2 Open Sans, sans-serif;
}

.overall-stage_title {
    min-width: 1rem;
    height: 1rem;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: .25rem;
    font: 700 1rem/1.2 Open Sans, sans-serif;
}

.overall__group:last-of-type {
    border-right: none;
    padding-top: 0;
}

.overall-team__name a {
    font: 700 1.2rem/1.2 Open Sans, sans-serif;
    color: rgba(38, 38, 38, .8);
}

.overall__height-switcher {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    margin: 1rem 0 0;
}

.button, .button:hover {
    color: rgba(76, 76, 76, .98);
    -webkit-transition: all .2s;
    transition: all .2s;
}

.dark-background {
    background-color: #090c19;
    width: 100%;
    flex: 1 1 auto;
}

.frontpage .galleries {
    min-height: 0;
}

.page-wrapper {
    padding: 3rem 0 2rem;
}

.page-title.dark {
    color: rgba(255, 255, 250, .88);
    border-bottom-color: rgba(255, 255, 250, .88);
}

.page-title.dark a {
    color: #fff;
}

.media-cards {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.gallery-card {
    margin: 0 0 1rem;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #fffffa;
    overflow: hidden;
}

@media (min-width: 60rem) {
    .media-card, .media-cards:after {
        width: calc(100% / 3 - 1rem);
    }
}

.gallery-card a, .video-card a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
}

.gallery-card__cover {
    position: relative;
    width: 100%;
    height: 14rem;
    background-size: 120% auto;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gallery-card__cover:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(9, 12, 25, .5);
    z-index: 0;
}

.gallery-card:hover .gallery-card__cover:before, .gallery-card__cover:before, .video-card:hover .video-card__cover:before {
    background-color: rgba(9, 12, 25, .3);
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
}

.gallery-card__counter {
    padding: .5rem;
    font: .8rem/1 Open Sans, sans-serif;
    background-color: rgba(181, 18, 18, .7);
    color: #fffffa;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
}

.gallery-card__photo, .icono-camera:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.icono-camera {
    width: 4rem;
    height: 3rem;
    border-radius: 10%;
    margin: 0;
    border: 2px solid;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-style: normal;
    color: rgba(255, 255, 250, .9);
    background-color: rgba(9, 12, 25, .5);
}

.gallery-card__photo, .icono-camera:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.icono-camera:before {
    content: "";
    width: 40%;
    height: 54%;
    border: 2px solid transparent;
    -webkit-box-shadow: inset 0 0 0 1px, 0 0 0 2px;
    box-shadow: inset 0 0 0 1px, 0 0 0 2px;
    border-radius: 50%;
}

.icono-camera:after {
    content: "";
    position: absolute;
    width: 20%;
    height: 10%;
    right: 8%;
    top: 8%;
    -webkit-box-shadow: inset 0 0 0 2rem;
    box-shadow: inset 0 0 0 2rem;
}

.gallery-card .title-wrapper {
    padding: 1rem;
}

.gallery-card .title {
    font-size: 1.2rem;
    background: 0 0;
    color: rgba(38, 38, 38, .88);
    position: relative;
}

.media-card .title {
    color: #090c19;
    font: 600 italic 1.24rem/1.4 Open Sans, sans-serif;
    background-color: rgba(255, 255, 250, .7);
}

.gallery-card .date-wrapper {
    padding: 0 0 1rem 1rem;
}

.date {
    font: .8rem/1 Open Sans, sans-serif;
    color: #e8e9ed;
    background-color: #1d2851;
    border-radius: 2px;
    padding: .75rem 1rem;
}

.media-card .date-wrapper .date, .media-card:hover .date-wrapper .date {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

.media-card .date-wrapper .date {
    padding: .2rem .4rem;
}

.media-cards .date-wrapper {
    position: static;
}

.media-card {
    width: 100%;
    display: block;
    position: relative;
    margin: 0 0 1.5rem;
    background-color: #fffffa;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .25);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .25);
    -webkit-transition: -webkit-box-shadow .1s ease-out;
    transition: box-shadow .1s ease-out;
    transition: box-shadow .1s ease-out, -webkit-box-shadow .1s ease-out;
}

@media (min-width: 60rem) {
    .media-card, .media-cards:after {
        width: calc(100% / 3 - 1rem);
    }
}

.videos.frontpage-videos {
    min-height: 0;
    padding-bottom: 2rem;
}

.video-card {
    margin: 0 0 1rem;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #fffffa;
    overflow: hidden;
}

@media (min-width: 60rem) {
    .media-card, .media-cards:after {
        width: calc(100% / 3 - 1rem);
    }
}

.video-card {
    margin: 0 0 1rem;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #fffffa;
    overflow: hidden;
}

.video-card__cover {
    position: relative;
    width: 100%;
    height: 14rem;
    background-size: 120% auto;
    background-repeat: no-repeat;
    background-position: 50%;
}

.video-card__cover:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(9, 12, 25, .5);
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
}

.video-card__play-button {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.icon-play {
    height: 4rem;
    width: 4rem;
    background-color: #cc1414;
    border-radius: 50%;
    position: relative;
}

.icon-play.video-card__play-button {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.icon-play:after {
    content: "";
    display: block;
    position: absolute;
    top: 1.25rem;
    left: 1.5rem;
    border-style: solid;
    border-width: .75rem 0 .75rem 1.4rem;
    border-color: transparent transparent transparent #fff;
}

.video-card .title-wrapper {
    padding: 1rem;
}

.video-card .title {
    font-size: 1.2rem;
    background: 0 0;
    color: rgba(38, 38, 38, .88);
    position: relative;
}

.frontpage__partners {
    width: 100%;
    position: relative;
    margin: 2rem 0 1rem;
}

.video-card .date-wrapper {
    padding: 0 0 1rem 1rem;
}

.footer {
    border-top: .25rem solid #1d2851;
}

.background--nsl-sq {
    background-size: 12rem;
    background-image: url(../img/footer-bg.png);
}

.footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 1.5rem 0;
}

.footer__copyrights {
    padding: .5rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font: .8rem/2 Open Sans, sans-serif;
    background-color: rgba(9, 12, 25, .8);
}

.footer__logo {
    display: block;
    padding: 0 0 0 1rem;
    margin: 0 0 -1rem;
}

.footer__social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 12rem;
}

.footer__social-links--title {
    font: 600 .9rem/1 Open Sans, sans-serif;
    width: 100%;
    padding: 1rem 0;
    text-align: right;
    text-transform: uppercase;
}

.footer__social-links--title span {
    padding: 0 .25rem;
    color: #e8e9ed;
    background-color: #1d2851;
}

.footer__social-links a {
    margin-right: 1.5rem;
    color: #fff;
    -webkit-transition: color .4s;
    transition: color .4s;
    font-size: 30px;
}

.footer__copyrights {
    padding: .5rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font: .8rem/2 Open Sans, sans-serif;
    background-color: rgba(9, 12, 25, .8);
}

.footer__copyrights a {
    color: rgba(232, 233, 237, .8);
    -webkit-transition: color .1s ease-in;
    transition: color .1s ease-in;
}

.footer__logo img {
    width: 20rem;
}

.partners__title {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.event-top {
    height: 80vh;
    background-size: cover !important;
}

.event-top .container {
    height: 100%;
}

.event-top .row {
    position: relative;
    height: 100%;
}

.event-top--caption {
    position: absolute;
    bottom: 10%;
    left: 15px;
}

.event-top--caption_small {
    display: inline-block;
    background: rgba(204, 20, 20, .7);
    padding: 20px;
    margin-bottom: 30px;
}

.event-top--caption_small span {
    color: #fff;
}

.event-top--caption_small span:first-child {
    font-style: italic;
    font-size: 24px;
    font-weight: 500;
}

.event-top--date {
    font-size: 30px;
}

.event-top--caption_big {
    padding: 20px;
    background: rgba(23, 32, 60, .7);
    color: #fff;
}

.event-top--caption_big span:first-child {
    font-size: 60px;
    font-weight: bold;
}

.event-top--place {
    font-style: italic;
    font-size: 30px;
    font-weight: 500;
}

.event-text {
    padding: 40px 0;
}

.event-text--caption {
    font-family: Open Sans, serif;
    max-width: 800px;
    margin: 0 auto;
    font-size: 26px;
    color: #4c4c4c;
}

.result {
    background: #787e94;
    padding: 40px 0;
}

.result .page-title {
    border-color: #fff;
}

.result .page-title a {
    color: #fff;
}

.table-result {
    width: 100%;
    border-collapse: collapse;
}

.table-result tr:not(:last-child) {
    border-bottom: 1px solid #787e94;
}

.table-result tr td {
    padding: 5px;
    text-align: center;
    color: #fff;
}

.table-result tr td:not(:last-child) {
    border-right: 1px solid #787e94;
}

.table-result tr:nth-child(1) td {
    background: #1f294e;
}

.table-result tr td:nth-child(1) {
    width: 1%;
}

.table-result tr td:nth-child(2) {
    width: 20%;
    text-align: left;
}

.table-result tr td:nth-child(1), .table-result tr td:nth-child(2) {
    background: #1f294e !important;
    color: #fff !important;
}

.table-result tr:not(:first-child) td {
    background: #fff;
    color: #1f294e;
}

.table-result tr:nth-child(even) td {
    background: #dedee4;
}

.table-result--notice {
    width: 800px;
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    color: #000;
    font-size: 20px;
    font-style: italic;
}

.col-md-6.video-card {
    padding-right: 15px;
    padding-left: 15px;
    background: transparent;
}

.col-md-6.video-card .title-wrapper {
    background: #fff;
}

.col-md-6.video-card .date-wrapper {
    background: #fff;
}

.videos.frontpage-videos {
    padding: 2rem 0;
}

.page-description__subtitle {
    font-size: 1rem;
    margin: 1rem 0 0;
    color: #b51212;
}

.groups-switcher__wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.groups-switcher {
    text-align: center;
    padding: .75rem 1rem;
    background-color: #1d2851;
    margin: -1rem auto 1rem;
    border-radius: 2px;
}

.groups-switcher a {
    display: inline-block;
    font: 1.2rem Open Sans, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    padding: .5rem 1rem;
    margin: .25rem 0;
    background-color: #fafafb;
    color: #1d2851;
    pointer-events: none;
    cursor: default;
    border-radius: 2px;
    position: relative;
}

.groups-switcher a.no-active, .groups-switcher a:not(.active) {
    color: rgba(250, 250, 251, .7);
    background-color: #1d2851;
    text-decoration: none;
    pointer-events: all;
    cursor: pointer;
}

.events-item {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 5px;
    min-height: 300px;
    border: 1px solid #cecece;
    background: #fff;
    box-shadow: 1px 1px 1px #cecece;
}

.events-item--img {
    display: flex;
    height: 100%;
    padding: 40px 20px;
    position: relative;
    z-index: 0;
}

.events-item--img:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    left: 0;
}

.events-item--title {
    font-size: 40px;
    color: #fff;
    font-weight: 700;
}

.events-item--img-caption {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 99;
}

.events-item--subtitle {
    color: #fff;
    font-style: italic;
    font-size: 20px;
}

.events-item--date {
    padding: 5px 10px;
    background: #bc2d24;
    color: #fff;
}

.seasons-archive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1rem;
    margin: 0;
    position: relative;
    border-top: .25rem solid #2a3b77;
    background-color: #090c19;
}

.seasons-archive__title {
    font: 1.2rem/1 Open Sans, sans-serif;
    text-transform: uppercase;
    -ms-flex-item-align: center;
    align-self: center;
    padding: 0 .5rem 0 0;
    color: rgba(255, 255, 250, .95);
}

.season-archive__card {
    padding: .5rem 1rem;
    background-color: #1d2851;
    border-radius: 2px;
    margin: 0 .5rem 0 0;
    color: #fffffa;
}

.member-top {
    background: url('../img/team-bg.svg') 0 0 repeat;
    padding-top: 40px;
}

.member-top_right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 40px;
}

.member-top--name {
    display: inline-block;
    font-size: 36px;
    width: max-content;
    margin-bottom: 10px;
}

.member-top--subname {
    display: inline-block;
    width: max-content;
    padding: 5px 10px;
    background: rgba(29, 40, 81, .8);
    color: #fff;
}

.member-content {
    padding: 40px 0;
}

.member-content .align-self-center {
    width: 800px;
    margin: 0 auto;
    font-size: 20px;
}

.soc-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    border-top: 1px solid #4c4c4c;
    padding: 2rem 0;
}

.soc-bottom a {
    color: #4c4c4c;
    font-size: 30px;
    padding: 0 30px;
    position: relative;
}

.soc-bottom a:not(:last-child):after {
    content: '';
    display: block;
    width: 2px;
    height: 25px;
    background: #4c4c4c;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -12.5px;
}

.gallery {
    padding: 40px 0;
}

.gallery-in {
    background-image: url('../img/team-bg-blue.svg');
    padding: 40px 0;
}

.gallery-date {
    padding: 10px;
    color: #fff;
    background: #1f294e;
    border-radius: 5px;
}

.text-center {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
}

.gallery-text {
    width: 80%;
    margin: 0 auto;
}

.gallery-title {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-style: italic;
    font-size: 30px;
}

.gallery-caption {
    width: 50%;
    margin: 0 auto;
    color: #fff;
    font-size: 18px;
}

.gallery-items {
    width: 100%;
    margin-bottom: 40px;
}

.gallery-item img {
    width: 100%;
    height: 100%;
}

.gallery-items .col-md-2 {
    padding: 2.5px;
}

.gallery-items .row {
    margin: 0 -2.5px;
}

.news-inner--info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-inner--date {
    background: #1f294e;
    padding: 5px 10px;
    margin-bottom: 20px;
    color: #fff;
}

.news-inner--title {
    font-size: 40px;
    font-style: italic;
}

.news-top {
    background: url(../img/team-bg.svg) 0 0 repeat;
    /*height: 400px;*/
}

.news-inner--block {
    width: 800px;
    margin: 0 auto;
}

.news-inner--block img {
    width: 100%;
    margin-bottom: 30px;
}

.news-content {
    /*margin-top: -150px;*/
}

.news-content p {
    font-size: 1.2rem;
}

.page-title2 {
    font: 1.5rem/1 Open Sans, sans-serif;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: #1d2851;
    position: relative;
    margin-bottom: 1rem;
}

.partner-item {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 1px 1px 12px #cecece;
    margin-bottom: 30px;
}

.partner-item--img {
    width: 50%;
    padding: 20px;
}

.partner-item--img img {
    width: 100%;
    height: auto;
}

.partner-item--text {
    width: calc(50% + 20px);
    padding: 20px;
    margin: 0 -20px;
}

.partner-item--text-name {
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 4px solid #1f294e;
    margin-bottom: 20px;
}

.row.flex-center {
    justify-content: center;
    margin-bottom: 40px;
}

.background-gray {
    background: #787e94;
}

.half-wrapper {
    width: 800px;
    margin: 0 auto;
}

.text-title {
    font-style: italic;
    font-size: 40px;
    margin-bottom: 40px;
}

.half-wrapper img {
    width: 100%;
    margin-bottom: 30px;
}

.half-wrapper p {
    font-size: 18px;
}

.video-in {
    background-image: url(../img/team-bg-blue.svg);
    padding: 40px 0;
}

.video-inner--info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.video-inner--date {
    background: #1f294e;
    padding: 5px 10px;
    color: #fff;
}

.video-inner--title {
    font-size: 40px;
    font-style: italic;
    color: #fff;
    width: 100%;
    text-align: center;
}

iframe {
    margin: 40px 0;
}

.dark-background p {
    color: #fff;
}

.video-inner--date-tr {
    padding: 5px 10px;
    text-transform: uppercase;
    color: #fff;
    background: #4b65b9;
}

.page-title.white a {
    color: #fff;
}

.paging {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.paging-left a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    color: #fff;
}

.paging-left a.active {
    background: #1f294e;
    border-color: #1f294e;
}

.paging-right a {
    border: 1px solid #fff;
    padding: 5px 10px;
    color: #fff;
    opacity: .5;
    transition: linear .1s;
}

.paging-right a:hover {
    opacity: 1;
}

.page-cover--top {
    width: 100%;
    height: 80vh;
    min-height: 30rem;
    background-size: cover !important;
    position: relative;
}

.page-cover--top .container {
    height: 100%;
}

.page-cover--top .row {
    height: 100%;
    justify-content: center;
    align-items: flex-end;
}

.page-cover--caption {
    display: inline-block;
    padding: 20px;
    font-size: 40px;
    font-style: italic;
    background: rgba(255, 255, 255, .9);
}

hr.blue {
    height: 20px;
    border: none;
    background: #1f294e;
    margin: 0px;
}

.page-anchors a {
    width: auto;
    margin-bottom: 10px;
    font-size: 18px;
    text-decoration: underline;
}

.teams-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: calc(100% + 2rem);
}

.teams-cards {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.team-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.team-card__logo {
    width: 12rem;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-item-align: center;
    align-self: center;
    padding: 10px;
}

.team-card .title-wrapper {
    padding: .5rem .5rem .5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right;
    width: 100%;
}

.team__logo img {
    width: 100%;
    padding: 10px;
}

.team-card .title-wrapper .title {

    font-size: 1rem;
    font-family: Serif, serif;
    font-weight: 700;
    color: #161f3e;
    border-bottom: 3px solid #161f3e;
    padding: 0 0 .5rem;
    margin: 0 0 0 .5rem;
}

.team-card__region {
    color: #262626;
    font: italic .8rem/1.25 Open Sans, sans-serif;
    padding: .5rem 0 0;
}

.teams-cards .row {
    width: 100%;
}

.teams-cards .team-card {
    margin-bottom: 20px;
}

.teams-cards .team-card a {
    display: flex;
    background-color: #ffffff;
    -webkit-transition: background-color .3s;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .25);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .25);
    width: 100%;
}

.article-background {
    position: relative;
}

.article-background:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 60%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.member .article-background:before, .team .article-background:before {
    height: 100%;
}

.article-background:before, .background--nsl-boats, .background--silver-extralight, .background--silver-light, .background--white-silver, .event__cover:before {
    background-color: #fafafb;
    background-position: 0 1rem;
    background-image: url(../img/team-bg.svg);
}

.team__cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 100%;
    height: 70vh;
    min-height: 70vh;
    position: relative;
    z-index: 0;
    display: table;
}

.team__data {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0 0 1rem 1rem;
}

.team__logo {
    width: 16rem;
    height: 16rem;
    border: .5rem solid rgba(22, 31, 62, .8);
    display: flex;
    background-color: #fff;
    flex-wrap: wrap;
    align-items: center;
}

.team__title {
    text-align: left;
}

.team__name {
    font: 700 2.5rem/1.4 Open Sans, sans-serif;
    color: #e8e9ed;
    margin-bottom: 1rem;
}

.team__name span {
    background-color: rgba(22, 31, 62, .8);
    padding: 0 1rem 1px;
    margin: 0 0 0 1rem;
}

.team__info {
    font: italic 1rem/1PT Serif, serif;
    color: #e8e9ed;
    margin: 0 0 .5rem 1rem;
}

.team__region, .team__yachtClub {
    display: inline-block;
    background-color: rgba(22, 31, 62, .8);
    padding: .5rem;
    margin: 0 .5rem 0 0;
}

.team__cover .container {
    height: 100%;
}

.team-img img {
    border-radius: 50%;
    max-width: 150px;
}

.team-list .row {
    justify-content: center;
}

.team-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.team-img {
    margin-bottom: 10px;
}

.team-name {
    color: #fff;
    width: 100%;
    text-align: center;
}

.team-name_subname {
    color: #fff;
}

.tracking-block {
    margin: 40px 0;
}

.tracking-block {
    display: flex;
    flex-wrap: wrap;
}

.tracking-block--left {
    width: 25%;
    padding: 20px;
    background: rgba(255, 255, 255, .5);
    color: #1d2851;
}

.tracking-block--right {
    width: 75%;
    padding: 40px 40px 20px;
}

.tracking-block--title {
    font-size: 30px;
    margin-bottom: 20px;
}

.tracking-block--right {
    display: flex;
}

.tracking-block--link {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.tracking-block--link-name {
    font-size: 20px;
}

.tracking-block--link-video img, .tracking-block--link-static img {
    max-width: 30px;
    padding: 5px;
}

.col-md-20 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.adv {
    color: #7affdd;
}

.header-menu__burger {
    margin: 2.25rem .5rem 1rem 1.5rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    display: inline-block;
    position: relative;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.header-menu__burger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: rgba(255, 255, 250, .9);
    border-radius: 1px;
    opacity: 1;
    left: 0;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.header-menu__burger, .header-menu__burger span {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.header-menu__burger.is-open span:first-child, .header-menu__burger.is-open span:nth-child(4) {
    top: .6rem;
    width: 0;
    left: 50%;
}

.header-menu__burger.is-open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.header-menu__burger span:nth-child(2), .header-menu__burger span:nth-child(3) {
    top: .6rem;
}

.header-menu__burger.is-open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.header-menu__burger.is-open span:first-child, .header-menu__burger.is-open span:nth-child(4) {
    top: .6rem;
    width: 0;
    left: 50%;
}

.header-menu__burger {
    display: none;
}

.header-menu.row {
    width: 100%;
    justify-content: flex-end;
}

/*partners main styles*/
.partners__title {
    text-align: center;
}

.partners__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.partners__img img {
    width: 100%;
}

.partners__wrap-item {
    padding: 0 20px;
    width: 33.3333%;
    margin-bottom: 20px;
}

.partners__img {
    margin-bottom: 10px;
}

.partners__name {
    text-align: center;
    font-size: 1.2rem;
    text-decoration: underline;
}

.page-title.page-title__partners {
    border-bottom: none;
    padding-bottom: 0px;
}

.frontpage__partners-list {
    margin-top: 50px;
}

/*tracking styles*/
.tracking-block--right .row {
    width: 100%;
}

.tracking-block {
    min-height: 360px;
}

/*video styles*/
.video-card__cover iframe {
    margin: 0px;
}

.video-card__cover:before {
    display: none;
}

.media-card__in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
}

.title-wrapper:hover span {
    color: rgba(64, 62, 62, 0.88);
}

/*nav link*/
.nav-link:hover {
    border-bottom: 2px solid #fff;
}

.nav-link.active {
    background-color: #161f3e;
    color: #fff;
    border-bottom: 2px solid #fff;
}

/*table*/
.table-wrap {
    overflow-x: scroll;
    margin-bottom: 40px;
}

.table-width1 {
    min-width: 200px;
}

.media-cards.inner-video {
    display: block;
}

.media-cards-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination li {
    margin-right: 10px;
}

.pagination li a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    color: #fff;
}

.pagination li.active a {
    background: #1f294e;
}

.pagination li span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    color: #fff;
    background: #1f294eb3;
    opacity: 50%;
}

.pagination li a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    color: #fff;
    background: #1f294eb3;
    opacity: 50%;
}

@media all and (max-width:1395px) {
    /*.header-menu.row a:nth-child(9), .header-menu.row a:nth-child(8) {*/
    /*display: none;*/
    /*}*/
    .header-menu__burger {
        display: block;
        position: absolute;
        right: -40px;
    }
    #nav-icon {
        display: inline-block;
        width: 35px;
        height: 28px;
        position: absolute;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        top: 30px;
        right: -40px;
    }
    #nav-icon span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: #fff;
        opacity: 1;
        left: 0px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
    #nav-icon span:nth-child(1) {
        top: 0px;
    }
    #nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
        top: 12px;
    }
    #nav-icon span:nth-child(4) {
        top: 24px;
    }
    #nav-icon.open span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
    #nav-icon.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    #nav-icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    #nav-icon.open span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
}

@media all and (max-width:1395px) {
    .header-menu  {
        display: none;
        position: absolute;
        max-width: 350px;
        width: 100%;
        right: 0px;
        top: 78px;
        z-index: 999;
        background: #1d2851;
        margin: 0px;
    }
    #nav-icon {
        right: 20px;
    }
}
@media all and (max-width: 640px) {
    .footer__logo img {
        width: 5rem;
    }

    header nav.nav {
        position: static !important;
    }
    #header nav.nav {
        position: static !important;
    }

    .nav-link {
        padding: 20px;
        text-align: center;
    }

    .frontpage-cover__text {
        z-index: 0;
        left: 0px;
    }

    .frontpage-cover__desc {
        max-width: 100%;
    }

    .frontpage-cover__block {
        width: 100%;
    }

    .frontpage-cover__nsl {
        font-size: 40px;
    }

    .page-wrapper .articles {
        padding: 0px;
    }

    .page-wrapper {
        width: 100%;
    }

    .overall {
        width: 100%;
    }

    .overall__table {
        max-height: 100%;
        flex-wrap: wrap;
    }

    .overall__group {
        width: 100%;
        border: none;
    }

    .page-title a:before, .page-title a:after {
        display: none;
    }

    .overall__table2 {
        display: block;
    }

    .team__cover {
        display: block;
        width: 100%;
    }

    .team__data {
        padding: 0px;
        display: block;
        margin: 20px 0;
    }

    .team__name {
        margin: 20px 0;
    }

    .team-item {
        width: 50%;
    }

    .half-wrapper {
        width: 100%;
    }

    .tracking-block--left {
        width: 100%;
    }

    .tracking-block--right {
        padding: 20px;
        width: 100%;
    }

    .col-md-20 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .partner-item--img {
        width: 100%;
    }

    .partner-item--text {
        width: 100%;
        margin: 0px;
    }

    .news-content {
        margin-top: 0px;
    }

    .news-inner--block {
        width: 100%;
    }

    .table-result--notice {
        width: 100%;
    }

    .gallery-caption {
        width: 100%
    }
}

.back_to_personal_link {
    font-size: 13px;
    text-transform: none;
    position: absolute !important;
    left: 0;
}
